$purple-main: hsl(286, 100%, 21%);

$orange-secondary: hsl(28, 100%, 50%);

$red-secondary: hsl(347, 85%, 44%);

$yellow-secondary: hsl(40, 100%, 50%);

$white: hsl(0, 0%, 100%);

$black: hsl(0, 0%, 0%);

