.background {
  &.red {
    background: $red-secondary;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 5px 4px rgba(0, 0, 0, 0.25),
      0px 10px 10px 5px rgba(82, 0, 106, 0.5);
    h1 {
      color: $white;
    }
    img {
      // background: $white;
      // border: 3px solid black;
      margin-right: 0;
    }
    .left,
    .right {
      margin-top: 48rem;
      width: 0;
      height: 0;
      border: 30px solid transparent;
    }
    .right {
      border-left: 50px solid $yellow-secondary;
      // border-bottom: 70px solid transparent;
    }
    .left {
     
      border-right: 50px solid $yellow-secondary;
      // border-bottom: 70px solid transparent;
    }

    .carousel {
      position: relative;
      height: 650px;
      width: 80%;
      margin: 40px auto;
    }
    .carousel,
    .carousel__slide,
    .carousel__image {
      overflow-x: visible !important;
    }

    .carousel__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .exp__card {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background: $yellow-secondary;
      border-radius: 25px;
    }

    .carousel__track-container {
      background: $orange-secondary;
      height: 100%;
      position: relative;
      overflow: hidden;
      border-radius: 25px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 5px 4px rgba(0, 0, 0, 0.25), 0px 10px 10px 5px rgba(82, 0, 106, 0.5);
    }
    .carousel__track {
      padding: 0;
      margin: 0;
      list-style: none;
      position: relative;
      overflow-x: initial;
      height: 100%;
      transition: transform 1500ms ease-in-out;
    }
    .carousel__slide {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
    }
    .carousel__button {
      background: transparent;
      border: transparent;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
    .carousel__button--left {
      left: -5%;
    }
    .carousel__button--right {
      right: -5%;
    }
    .carousel__button img {
      width: 70px;
    }
    .carousel__nav {
      display: flex;
      justify-content: center;
      padding: 45px 0;
    }
    .carousel__indicator {
      border: 0;
      border-radius: 50%;
      width: 20px;
      margin: 0 10px;
      height: 20px;
      background: $white;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;
    }
    .carousel__indicator.current-slide {
      background: $orange-secondary;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .is-hidden {
      display: none;
    }

   




    // experience card info

    .exp__card--image{
      display: grid;
      grid-template-columns:  1fr 1fr;
      grid-gap: 15px;
      margin: 30px 20px;
      grid-template-areas: 
        "img-1 img-1" 
        "img-2 img-3" 
        ;




      img{
        background: white;
        border: black 3px solid;
        height: 140px;
        width: 100%;
        border-radius: 20px;
      }
      .img-1{
        grid-area: img-1;
      }
      .img-2{
        grid-area: img-2;
        
      }
      .img-3{
        grid-area: img-3;
        
      }
      
    }


     //responsive

    
    @media (min-width: 900px) {
      .carousel__button--left {
        left: -140px;
      }
      .carousel__button--right {
        right: -140px;
      }
      .left,
      .right {
        margin-top: 0;
      }

      .exp__card--image{
        grid-template-columns:  60% 40%;
        grid-template-areas: 
        "img-1 img-2" 
        "img-1 img-3" 
        ;
        padding: 0 14px 0 0;
        .img-1{
          height: 300px;
        }
        // .img-2, .img-3{
        //   width: 180px;
        // }
      }
    }
  }
}
